{%extends 'calorie_tracker/base.html' %} #inheritance

{%block content%}
<h1 class="text-3xl font-bold>Food Types</h1>
<p>Total Calories: {{ total_calories }}</p>

<table>
    <tr>
        <th class="text-3xl font-bold" >Name</th>
        <th>Calories</th>
        <th>Actions</th>
    </tr>
    {% for food in foods %}
    <tr>
        <td>{{ food.name }}</td>
        <td>{{ food.calories }}</td>
        <td>
            <button>Edit</button>
            <button>Delete</button>
        </td>
    </tr>
    {% endfor %}
</table>












{%endblock content%}
